{% extends "base.html" %}
{% block app_content %}
		<h1><center>Simulation Results</center></h1>
	<div class="container-fluid">
				<div class="col-md-3 col-sm-5">
				<table class="table table-striped">
                    <thead>
                    <tr>
                        <th>parameter</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for key,val in form.params.items() %}
                        	<tr>
                        	<td>{{key}}</td>
                        	<td>{{val}}</td>
                        	</tr>
                        {% endfor %}
                    </tbody>
                  </table>
				</div>
            		<!--<h4>Average Power (mW):{{ form.avgPower}}</h4>-->
            		<!--<h4>Background Power (W/m2):{{ form.background}}</h4>-->
		<div class="column">
			<div class="col-md-4 col-sm-5">
					<!--<h4><center> Number of signal and noise event per pixel</center> </h4>-->
					<img src={{form.url_sn_events}} class="img-fluid" >
					<!--<h4><center> S/N per pulse</center></h4>-->
					<img src={{form.url_snr}} class="img-fluid" >
			</div>
		</div>
		<div class="column">
			<div class="col-md-4 col-sm-5">
					<!--<h4><center> Probability of signal and noise event within the Gate Time </center>  </h4>-->
					<img src={{form.url_stats}} class="img-fluid" >
			</div>
		</div>
		<div class="column">
			<div class="col-md-4 col-sm-5">
					<!--<h4><center> Improvement of the S/N using multi-laser shots in TCSPC mode </center> </h4>-->
					<img src={{form.url_tcspc}} class="img-fluid" >
			</div>
		</div>
	</div>
{% endblock %}
