{% extends "base.html" %}
{% block app_content %}
	<div class="container-fluid">
		<div class="column">
			<div class="col-md-4 col-sm-5">
				<h3>Simulation Results</h3>
            		<!--<h4>Average Power (mW):{{ form.avgPower}}</h4>-->
            		<!--<h4>Background Power (W/m2):{{ form.background}}</h4>-->
					<ul></ul>
					<h4> Number of signal and noise event per pixel at background </h4>
					<img src={{form.url_sn_events}} class="img-fluid" >
					<ul></ul>
					<h4> Number of snr </h4>
					<img src={{form.url_snr}} class="img-fluid" >
					<ul></ul>
					<h4> Number of stats </h4>
					<img src={{form.url_stats}} class="img-fluid" >
					<ul></ul>
					<h4> Number of tcspc stats </h4>
					<img src={{form.url_tcspc}} class="img-fluid" >
			</div>
		</div>
	</div>
{% endblock %}
