{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
		<h3>Simulation method and parameters</h3>
		<p><center>The mathematical basis of the simulation is taken from the work of Edoardo Charbon et. group in EPFL Switzerland. In particular 2 primary publications were referenced: "Modeling and Analysis of a Direct Time-of-Flight Sensor Architecture for LiDAR applications", Sensors, 2019, 19, 5464 and "Modular Time-of-Flight Image Sensor for Light Detection and Ranging", A. R. Ximenes, PhD Thesis 2019.</center></p>
{% endblock %}
